:global {
  div[data-react-toolbox="input"]:not([class*="theme__errored"]) {
    padding-bottom: 21px;
  }

  #root {
    height: 100%;
  }

  .layout {
    display: flex;
  }
  .layout-column {
    display: flex;
    flex-direction: column;
  }

  .center {
    text-align: center;
  }
  .a-center {
    align-items: center;
  }
  .j-center {
    justify-content: center;
  }
  .f-center {
    align-items: center;
    justify-content: center;
  }

  .flex {
    flex: 1;
  }

  .wait {
    cursor: buzy !important;

    .icon {
      position: absolute;
      height: 30px;
      top: 10%;
    }
  }

  .hidden {
    display: none;
  }

  [disabled] {
    cursor: not-allowed;
  }
}